body {
  print-color-adjust: exact;
}

#squarefree {
  margin: 0;
  padding: 0 !important;
  border: 0;
  width: 80px; 
}

.bingotable {
  margin: 0;
  min-width: 400px;
  min-height: 480px;
  background: white;
  border-collapse:collapse;
}

#machlogo {
  max-width:60px;
  margin: 0;
  padding: 0;
  border: 0;
}

th, td {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  text-align: center;
  border: 3px solid black;
  width:85px !important;
  height:80px !important;
}

.green {
  background: green;
}
